<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084030875192-fbos8i5sujd887h3bdbg64vke7c86i26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084030875192-fbos8i5sujd887h3bdbg64vke7c86i26</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1084030875192-63a1heclpgo1vbnb2641knvbi3e34gsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNh0gY2vCGnn4oZcqYCh05CrE3wY-7tKI</string>
	<key>GCM_SENDER_ID</key>
	<string>1084030875192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rezzaky.stayfix</string>
	<key>PROJECT_ID</key>
	<string>hotel-project-fa6f3</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-project-fa6f3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084030875192:ios:b3f4c73c2b6b8f5b5058cd</string>
</dict>
</plist>